/** @format */

.products {
  margin: 20px;
  padding: 0 5%;
  list-style-type: none;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.products__single {
  height: 250px;
  list-style: none;
  padding: 20px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  border-radius: 5px;
  cursor: pointer; /* Imp on clickables */
  margin: 10px;

  @media (min-width: 576px) {
    height: 300px;
  }
}

.products__single > img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin-bottom: 3px;

  @media (min-width: 576px) {
    height: 90%;
  }
}

.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.pagination > span {
  padding: 15px 20px;
  border: 1px solid gray;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 50px;
}

.pagination__disable {
  opacity: 0;
}

.pagination__selected {
  background-color: rgb(161, 160, 160);
}
